.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  text-align: center;
  padding: 6px 24px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  letter-spacing: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary {
  background-color: var(--color-info-500);
  color: white;
}

.primary:hover {
  background-color: var(--color-info-100);
}

.primary:active {
  background-color: var(--color-info-700);
}

.primary:focus {
  background-color: var(--color-info-500);
  border: 2px solid var(--color-info-700);
}

.primary:disabled {
  background-color: var(--color-info-900);
}

.secondary {
  background-color: var(--color-dark-500);
  color: white;
}

.secondary:active,
.secondary:disabled {
  background-color: var(--color-dark-500);
  transform: none;
}

.secondary:hover {
  background-color: var(--color-dark-300);
}

.secondary:focus {
  border: 1px solid var(--color-info-300);
  background-color: var(--color-dark-500);
}

.outline {
  color: var(--color-info-500);
  background-color: transparent;
  border: 1px solid var(--color-info-500);
  border-radius: 2px;
}

.outline:active {
  color: var(--color-info-700);
  border: 1px solid var(--color-info-700);
}

.outline:hover {
  color: var(--color-info-100);
  border: 1px solid var(--color-info-100);
}

.outline:focus {
  color: var(--color-info-700);
  border: 2px solid var(--color-info-700);
}

.outline:disabled {
  color: var(--color-info-900);
  border: 1px solid var(--color-info-900);
}

.text {
  color: var(--color-info-500) !important;
  background-color: transparent;
}

.text:active {
  color: var(--color-info-700);
}

.text:hover {
  color: var(--color-info-100);
}

.text:hover {
  color: var(--color-info-700);
}

.text:disabled {
  color: var(--color-info-900);
}

.fullWidth {
  width: 100%;
}
.notificationButton {
  line-height: 0;
  padding: 0;
}
