.inputWrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.textarea {
    width: 100%;
    min-height: 120px;
    padding: 12px;
    border: none;
    font-size: 16px;
    background-color: var(--color-dark-700);
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 30px 8px 12px;
    border: 1px solid var(--color-dark-300);
    border-radius: 2px;
    background-color: var(--color-dark-700);
    color: var(--color-light-900);
    transition: border-color 0.3s ease, background-color 0.3s ease;
    margin-bottom: 0;
}

.input:focus {
    border: 1px solid var(--color-info-500);
    outline: none;
}

.input:active {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-light-100);
    color: var(--color-light-100);
}

.input:hover {

}

.label {
    font-size: 14px;
    color: var(--color-light-900);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
}

.input::placeholder {
    color: var(--color-light-900);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
}

.input:focus::placeholder {
    color: var(--color-light-100);
}

.input:active::placeholder {
    color: var(--color-light-100);
}

.error {
    border-color: var(--color-danger-500);
    color: var(--color-light-100);
}

.error:focus, .error:active, .error:hover {
    border-color: var(--color-danger-500);
}

.errorText {
    color: var(--color-danger-500);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
    letter-spacing: 0;
    margin-top: 4px;
}

.togglePassword {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1;
}

.disabled, .disabled:active, .disabled:hover, .disabled:focus {
    border: 1px solid var(--color-dark-300);
}

.search {
    border-bottom: 1px solid var(--color-dark-300);
    border-top: 1px solid var(--color-dark-300);
    border-left: none;
    border-right: none;
}

.search.error,
.search.error:focus,
.search.error:active,
.search.error:hover {
    border-bottom: 1px solid var(--color-danger-500);
    border-top: 1px solid var(--color-danger-500);
    border-left: none;
    border-right: none;
}

.search:focus {
    border: 1px solid var(--color-info-500);
    outline: none;
}

.search:active {
    border: 1px solid var(--color-light-100);
}

.searchInputContainer {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.input.search {
    padding: 8px 30px 8px 41px;
}

.fullWidth {
    max-width: 100%;
    text-align: left;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--color-dark-700) inset !important; /* Цвет фона */
    -webkit-text-fill-color: var(--color-light-900) !important; /* Цвет текста */
    transition: background-color 5000s ease-in-out 0s; /* Отключаем анимацию изменения фона */
}