.sidebar {
  position: fixed;
  z-index: 1000;
  top: 60px; 
  left: 0;
  height: calc(100vh - 60px); 
  min-width: 220px;
  background: var(--color-dark-900);
  border-right: 1px solid var(--color-dark-300);
  padding: 24px 0;
}

.nav {
  width: 100%;
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.navItem {
  margin-bottom: 8px;
}

/* Отступы для конкретных элементов */
.navItem:nth-child(6) {
  margin-top: 60px;
}

.navItem:nth-child(8) {
  margin-top: 180px;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--color-light-100);
  text-decoration: none;
  transition: background-color 0.2s;
  gap: 12px;
  border: none;
}

.navButton {
  background-color: inherit;
  cursor: pointer;
}

/* Стили для кнопки в сайдбаре */
.navLink button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--color-light-100) !important;
  cursor: pointer;
}

/* Наследование ховера от родителя */
.navLink:hover button {
  color: var(--color-info-100) !important;
}

.navLink:hover {
  color: var(--color-info-100);
}

.navLink:focus-visible {
  outline: 2px solid var(--color-info-500);
  outline-offset: 2px;
  border-radius: 2px;
}

.navLink.active {
  color: var(--color-info-500);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.label {
  font-size: 14px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .label {
    display: none;
  }

  .navLink {
    justify-content: center;
    padding: 8px;
  }
}
