.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-dark-900);
    z-index: 9999; /* добавим */
    position: fixed; /* добавим */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinnerColor {
    color: var(--color-info-500);
}