.root {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.selectContainer {
    display: flex;
    gap: 6px;
}

.pagination {
    display: flex;
    align-items: center;
    height: 24px;
}
.text {
    font-size: 16px;
    color: var(--color-light-100);
    margin: 0 10px;
}

.list {
    display: flex;
    margin: 0 0 0 4px;
    padding: 0;
    list-style: none;
}

.li a.selected {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
}

.li a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin-right: 4px;

    font-size: 14px;
    color: var(--color-light-100);
    text-decoration: none;

    border-radius: 1px;

    &:hover {
        cursor: pointer;
        background-color: var(--color-dark-500);
    }

    &:focus {
        outline: var(--color-info-900) solid 2px;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 24px;

    color: var(--color-light-100);
    text-decoration: none;

    background-color: var(--color-dark-900);
    border: none;

    &:disabled {
        color: var(--color-dark-100);
        opacity: 0.5;
    }
}
