.userCard {
  margin-bottom: 30px;
}

.avatar {
  border-radius: 50%;
}

.wrapper{
    display: flex;
    gap: 90px;
    margin-top: 20px;
}

.text{
    font-size: var(--font-size-s);
    color: var(--color-dark-100)
}

.data{
    font-size: var(--line-height-s);
}

.name{
  font-size: 20px;
}

.userInfo{
  display: flex;
  flex-direction: column;
}